<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="穷在闹市" />
		<!-- 作者 -->
		<meta name="revised" content="穷在闹市.v3, 2019/05/01" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>综合信息管理平台</title>

		<!-- 公共样式 开始 -->
		<link rel="shortcut icon" href="__IMG__/favicon.ico"/>
		<link rel="bookmark" href="__IMG__/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/base.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/iconfont.css">
		<script type="text/javascript" src="__JS__/framework/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="__LIB__/layui/css/layui.css">
		<script type="text/javascript" src="__LIB__/layui/layui.js"></script>
		<!-- 公共样式 结束 -->
		
		<link rel="stylesheet" type="text/css" href="__CSS__/login1.css">

	</head>

	<body>
		<div class="loginBg"></div>
		<div class="login_main">
			<div class="box">
				<div class="left">
				  <img src="__IMG__/logo.png" />
				  <p>通号中心综合信息管平台</p>
			  </div>
				<div class="right">
					<form class="layui-form layui-form-pane" action="index.html">
						<div class="layui-form-item">
							<label class="layui-form-label login_title"><i class="iconfont icon-gerenzhongxin-denglu"></i></label>
							<div class="layui-input-block login_input">
								<input type="text" name="username" required lay-verify="required" autocomplete="off" placeholder="请输入您的用户名" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label login_title"><i class="iconfont icon-mima1"></i></label>
							<div class="layui-input-block login_input">
								<input type="password" name="password" required lay-verify="required" autocomplete="off" placeholder="请输入密码" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<button class="layui-btn layui-btn-fluid login_but" lay-submit lay-filter="loginBut">登 录</button>
						</div>
						<div class="layui-form-item">
							<input type="radio" name="sex" value="管理员" title="管理员" checked lay-filter="userType">
							<input type="radio" name="sex" value="技术" title="技术" lay-filter="userType">
							<input type="radio" name="sex" value="实施" title="实施" lay-filter="userType">
						</div>
					</form>
				</div>
			</div>
		</div>
		<script>
			layui.use('form', function() {
				var form = layui.form;
				//监听提交
				form.on('submit(loginBut)', function(data) {
					layer.msg(JSON.stringify(data.field));
					$.ajax({
						url:'{:url("login")}',//发到哪里
						data:{
							username: data.field.username,
							password: data.field.password,





						},//发送的数据,是个对象{字段名:字段值}
						dataType:"json",//服务器返回值的类型 是json里面可以写json   也可以不写这个字段   就返回值的之后自己写个  JSON.parse()
						type:"post",//发送的请求类型  get post 之类的
						success:function(res){

							//console.log(res)

							if (res.msg == "登入成功"){

								location.href='index.html'

							} else if (res.msg == "密码错误"){


								layer.msg('密码错误', {icon: 5});

							} else if (res.msg == "用户不存在"){


								layer.msg('用户不存在', {icon: 5});

							}


						},//发送成功   服务器200  res是返回的值  前面dataType写json  返回的是json会自动转成数组   如果不是 回到error里
						error:function(){}//发送失败  执行对应的代码
					})
					return false;
				});
				//监听用户类型，改变风格
				form.on('radio(userType)', function(data){
					if(data.value == "管理员"){
						$(".loginBg").css("background","url('__IMG__/login_admin_bg.jpg')");
						$(".login_but").css("cssText", "background-color:#57c201 !important");
					}
					if(data.value == "技术"){
						$(".loginBg").css("background","url('__IMG__/login_sh_bg.jpg')");
						$(".login_but").css("cssText", "background-color:#16c6f9 !important");
					}
					if(data.value == "实施"){
						$(".loginBg").css("background","url('__IMG__/login_fj_bg.jpg')");
						$(".login_but").css("cssText", "background-color:#ffd205 !important");
					}
				});
			});
		</script>
	</body>
	<script type="text/javascript" src="__JS__/login1.js"></script>
</html>