<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>

		<!-- 公共样式 开始 -->
		<link rel="stylesheet" type="text/css" href="__CSS__/base.css">
		<link rel="stylesheet" type="text/css" href="__CSS__/iconfont.css">
		<script type="text/javascript" src="__JS__/framework/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="__LIB__/layui/css/layui.css">
		<script type="text/javascript" src="__LIB__/layui/layui.js"></script>
		<!-- 滚动条插件 -->
		<link rel="stylesheet" type="text/css" href="__CSS__/jquery.mCustomScrollbar.css">
		<script src="__JS__/framework/jquery-ui-1.10.4.min.js"></script>
		<script src="__JS__/framework/jquery.mousewheel.min.js"></script>
		<script src="__JS__/framework/jquery.mCustomScrollbar.min.js"></script>
		<script src="__JS__/framework/cframe.js"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->
		
		<style>
			.layui-form-label{
				width: 100px;
			}
			.layui-input-block{
				margin-left: 130px;
			}
			.layui-form{
				margin-right: 30%;
			}
		</style>

	</head>

	<body>
		<div class="cBody">
			<form id="addForm" class="layui-form" action="">
				
				<div class="layui-form-item">
					<label class="layui-form-label">一键导入</label>
					<div class="layui-upload-drag" id="goodsPic">
					  <i class="layui-icon">&#xe67c;</i>
					  <p>点击上传，或将文件拖拽到此处</p>
					</div>
				</div>
				
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit lay-filter="submitBut">立即提交</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
			
			
			<script>
				layui.use(['upload','form'], function() {
					var form = layui.form;
					var upload = layui.upload;
					var layer = layui.layer;
					//监听提交
					form.on('submit(submitBut)', function(data) {
						return false;
					});
					form.verify({
						//数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
					  	ZHCheck: [
						    /^[\u0391-\uFFE5]+$/
						    ,'只允许输入中文'
					  	] 
					});
					//拖拽上传
					upload.render({
						elem: '#goodsPic',
						url: '/upload/',
						done: function(res) {
						  	console.log(res)
						}
					});
				});
			</script>

		</div>
	</body>

</html>